 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --crimson: crimson;
    --green:  #5cbf2a;
}

header h1 {
	margin-top: 200px;
	display: block;
	flex-direction: column;
	text-align: center;
	font-family:cursive 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font: size 20px;
}

header h2 {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family:cursive 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font: size 30px;
	padding-top: 20px;
}
header h3 {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family:cursive 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font: size 30px;
	padding-top: 20px;
}
/* avatar in middle of screen */
.me {
	background-color: burlywood;
	display:block;
	justify-self: unset;
	padding: 300px;
	position: relative;
	background-position-x:center;
  background-image: url(../Images/Me.PNG);
	background-repeat: no-repeat;
	cursor:pointer;
}

@media screen and (max-width: 768px) {
	.port,
	header,
	.me,
	.button,
	.home {
flex-direction: column;
align-items: center;
	}

}

/* backgorund color of Nav Bar */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .card {
    border-radius: 25px;
    border: 2px solid black;
    background-color: #000000;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-flex;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(185, 185, 185));
    background-position-x: center;
    background-position-y: bottom;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: 10px 5px 15px;
  }

  .cardb {
    border-radius: 25px;
    border: 2px solid black;
    background-color: #000000;
    padding: 20px;
    width: 700px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-flex;
    background-image: linear-gradient(to bottom, rgba(56, 15, 15), rgb(56, 15, 15));
    background-position-x: center;
    background-position-y: bottom;
    opacity: 0.6;
    transition: 0.3s;
    box-shadow: 10px 5px 15px;
  }

  .cardb h1 {
    color: crimson;
    font-style: italic;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }

  .cardb a {
    color:  crimson;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }

  .card h1 {
    color: crimson;
    font-style: italic;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }

  .card a {
    color:  crimson;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }

  .card:hover {
    width: 520px;
    height: 320px;
    opacity: 1;
    background-image: url(../Images/Me.PNG);
    background-position: center;
    background-repeat: no-repeat;
  }

  .cardb:hover {
    width: 520px;
    height: 520px;
    opacity: 1;
    background-image: url(../Images/G.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .container  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:cursive 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: size 50px;
    padding-top: 20px;

  }

  .headline {
    bottom:0;
    left:0;
    width:100%;
    /* height: 90px; */
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }

  #contact {
    bottom:0;
    left:0;
    width:100%;
    /* height: 90px; */
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
  }
